In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime
from pandas.io.json import json_normalize

import glob
import json

In [2]:
df_info  = pd.read_csv('SPindex.csv')
df_info = df_info.set_index('Symbol')
df_info.head()

,Security,GICS Sector,GICS Sub Industry,CIK
Symbol,,,,
MMM,3M Company,Industrials,Industrial Conglomerates,66740
ABT,Abbott Laboratories,Health Care,Health Care Equipment,1800
ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,1551152
ABMD,ABIOMED Inc,Health Care,Health Care Equipment,815094
ACN,Accenture plc,Information Technology,IT Consulting & Other Services,1467373

In [3]:
df_info.shape

(503, 4)

In [4]:
def check_file_existance(file_ids , tmpl):
    files = []
    path = tmpl.format(subject = '*')
    directory_files = glob.glob(path , recursive=True)

    for f_name in file_ids:
        filename = tmpl.format(subject = f_name)
        if filename in directory_files:
            files.append((f_name , filename))
        else:
            files.append((f_name , 'None'))
    return files

In [5]:
# get null files
def check_null_files(files):
    not_found_files = []
    for f in files :
        if f[1]== 'None' :
            not_found_files.append(f[0])
    return not_found_files

In [13]:
def format_data(files ):
    total  =  []
    dateparse = lambda dates: datetime.strptime(dates, '%Y-%m')
    
    for i in range(len(files)):
        file_id = files[i][0]
        filename = files[i][1]
        
        if filename != 'None':
            
            with open(filename) as f:
                data = json.load(f)
                
            df = json_normalize(data["financials"])
            #,parse_dates=['date']
            df.insert(0,'Symbol',file_id)
            total.append(df)
    
    return total

In [11]:
symbol_names = list(df_info.index)
files = check_file_existance(symbol_names , 'profile\{subject}-income.json')

In [14]:
total = format_data(files)

C:\Users\samsung\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [17]:
len(total)

489

In [18]:
total[0].columns

Index(['Symbol', 'date', 'Revenue', 'Revenue Growth', 'Cost of Revenue',
       'Gross Profit', 'R&D Expenses', 'SG&A Expense', 'Operating Expenses',
       'Operating Income', 'Interest Expense', 'Earnings before Tax',
       'Income Tax Expense', 'Net Income - Non-Controlling int',
       'Net Income - Discontinued ops', 'Net Income', 'Preferred Dividends',
       'Net Income Com', 'EPS', 'EPS Diluted', 'Weighted Average Shs Out',
       'Weighted Average Shs Out (Dil)', 'Dividend per Share', 'Gross Margin',
       'EBITDA Margin', 'EBIT Margin', 'Profit Margin',
       'Free Cash Flow margin', 'EBITDA', 'EBIT', 'Consolidated Income',
       'Earnings Before Tax Margin', 'Net Profit Margin'],
      dtype='object')

In [15]:
total[0]

,Symbol,date,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,...,Gross Margin,EBITDA Margin,EBIT Margin,Profit Margin,Free Cash Flow margin,EBITDA,EBIT,Consolidated Income,Earnings Before Tax Margin,Net Profit Margin
0,MMM,2019-12-31,32136000000.0,-0.0191973142072,17136000000.0,15000000000.0,1911000000.0,7029000000.0,8940000000.0,6174000000.0,...,0.466766243465,0.241691560866,0.19212098581,0.142208115509,0.16713343291,7767000000.0,6174000000.0,4570000000.0,0.177744585512,0.142208115509
1,MMM,2018-12-31,32765000000.0,0.035000157943,16682000000.0,16083000000.0,1821000000.0,7602000000.0,9423000000.0,7207000000.0,...,0.490859148482,0.265374637571,0.219960323516,0.163253471692,0.148390050359,8695000000.0,7207000000.0,5349000000.0,0.21364260644,0.163253471692
2,MMM,2017-12-31,31657000000.0,0.0514131987113,16001000000.0,15656000000.0,1850000000.0,6572000000.0,8422000000.0,7820000000.0,...,0.49455096819,0.295795558644,0.247022775374,0.153457371198,0.153741668509,9364000000.0,7820000000.0,4858000000.0,0.238430678839,0.153457371198
3,MMM,2016-12-31,30109000000.0,-0.00545022131202,15040000000.0,15069000000.0,1735000000.0,6111000000.0,8045000000.0,7223000000.0,...,0.50048158358,0.288850509814,0.239895047992,0.167723936365,0.174100767212,8697000000.0,7223000000.0,5050000000.0,0.234248895679,0.167723936365
4,MMM,2015-12-31,30274000000.0,-0.0486156940385,15383000000.0,14891000000.0,1763000000.0,6182000000.0,8094000000.0,6946000000.0,...,0.491874215498,0.276838211006,0.229437801414,0.159641936976,0.163803924159,8381000000.0,6946000000.0,4833000000.0,0.225374909163,0.159641936976
5,MMM,2014-12-31,31821000000.0,0.0307732175828,16447000000.0,15374000000.0,1770000000.0,6469000000.0,8381000000.0,7135000000.0,...,0.483140064737,0.268470506898,0.224222997392,0.155746205336,0.161308569812,8543000000.0,7135000000.0,4956000000.0,0.220797586499,0.155746205336
6,MMM,2013-12-31,30871000000.0,0.0323368111289,16106000000.0,14765000000.0,1715000000.0,6384000000.0,8244000000.0,6666000000.0,...,0.478280586959,0.260341420751,0.21593080885,0.150918337598,0.134495157267,8037000000.0,6666000000.0,4659000000.0,0.212561951346,0.150918337598
7,MMM,2012-12-31,29904000000.0,0.00989497146331,15685000000.0,14219000000.0,1634000000.0,6102000000.0,7907000000.0,6483000000.0,...,0.475488228999,0.259864901017,0.216793739968,0.148608881755,0.127608346709,7771000000.0,6483000000.0,4444000000.0,0.212379614767,0.148608881755
8,MMM,2011-12-31,29611000000.0,0.1106068562,15693000000.0,13918000000.0,1570000000.0,6170000000.0,7926000000.0,6178000000.0,...,0.470028030124,0.250379926379,0.208638681571,0.144642193779,0.131876667455,7414000000.0,6178000000.0,4283000000.0,0.203674310223,0.144642193779
9,MMM,2010-12-31,26662000000.0,0.153051074688,13831000000.0,12831000000.0,1434000000.0,5479000000.0,7114000000.0,5918000000.0,...,0.481246718176,0.263971194959,0.221963843673,0.153214312505,0.153139299377,7038000000.0,5918000000.0,4085000000.0,0.215850273798,0.153214312505
10,MMM,2009-12-31,23123000000.0,-0.0849,12109000000.0,11014000000.0,1293000000.0,4907000000.0,6200000000.0,4814000000.0,...,0.4763,0.258,0.2076,0.138,0.1778,5957000000.0,4800000000.0,3244000000.0,0.1981,0.1381

In [6]:
def create_change_df(total):
    for df in total:
        df['Close1']  = df.Close.shift()
        df['Change'] = (df.Close - df.Close1) * 100 /  df.Close
        df.dropna(inplace = True)    
    
    dataset = pd.concat(total)
    dataset = dataset.pivot(index='Date', columns='Symbol', values='Change')
    return dataset

In [8]:
data = create_change_df(total)
data.to_csv('stocks/total_data_changePercent.csv')
data.head()

Symbol,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-05,-1.909553,-0.055677,-1.335717,-2.898825,-1.918017,-0.858509,-0.647428,0.022263,-1.717426,-0.500129,...,-1.869157,-2.813159,-0.698081,-2.230478,-6.636804,-2.073927,3.596202,-1.427828,-3.892770,-0.603954
2015-01-06,-1.582437,-1.583711,-0.070351,0.009413,-0.497435,0.543355,-2.601712,-1.148645,-0.726557,-2.055869,...,-1.469888,-0.534465,-1.256626,-1.356453,-0.591547,-1.242681,-0.854920,-0.725683,-3.970977,-0.985217
2015-01-07,1.309825,-0.056598,2.103682,1.382829,3.884653,1.956950,3.084758,0.804282,2.055800,0.815640,...,0.047394,1.003090,2.526315,1.264887,0.782557,3.207523,2.426691,2.483274,0.945537,2.022517
2015-01-08,2.910244,1.211333,0.868914,3.700062,1.035039,0.227789,4.312116,2.014015,1.502001,2.482169,...,2.178949,1.637214,2.409415,2.679220,0.748961,1.712188,1.050527,2.091202,1.380078,1.516528
2015-01-09,-0.739096,-3.152632,-0.511536,0.107136,-2.812403,0.870965,-1.431917,-1.061946,-0.111382,-1.503343,...,-0.092810,-0.141156,-1.478398,-0.582667,-1.922534,-0.176964,-1.463500,1.440283,-2.877974,0.158191