In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('stocks/total_data_changePercent_Symbol.csv', index_col='Symbol')
df.head()

,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,...,2020-03-18,2020-03-19,2020-03-20,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-30,2020-03-31
Symbol,,,,,,,,,,,,,,,,,,,,,
A,-1.909553,-1.582437,1.309825,2.910244,-0.739096,-1.196708,-1.415933,-1.254475,-2.762439,0.627455,...,-2.279657,-4.729320,1.053261,-4.876125,5.417912,2.898551,6.402606,-3.962766,2.421900,-1.466064
AAL,-0.055677,-1.583711,-0.056598,1.211333,-3.152632,-4.921336,1.626983,-2.003646,0.000000,0.803055,...,-33.733909,-13.216712,0.867053,-1.268294,26.364943,9.551658,1.724135,-11.538461,-14.612245,-0.492210
AAP,-1.335717,-0.070351,2.103682,0.868914,-0.511536,-0.862021,-3.362382,-1.942579,-1.898390,1.319997,...,-12.970478,-3.222050,-14.580838,4.420384,9.122479,4.415188,6.950165,-1.589963,0.932644,-3.407630
AAPL,-2.898825,0.009413,1.382829,3.700062,0.107136,-2.526318,0.880059,-0.382512,-2.789743,-0.783094,...,-2.509427,-0.772122,-6.778919,-2.170527,9.117794,-0.553927,4.999225,-4.319043,2.774613,-0.204493
ABBV,-1.918017,-0.497435,3.884653,1.035039,-2.812403,-0.030409,-3.738764,0.486658,-1.287965,2.556556,...,-2.801630,0.042216,-3.254865,-6.697674,4.430283,0.618474,8.018418,-1.596262,3.415736,1.246889

In [3]:
symbols = df.index.to_numpy()
data = df.to_numpy()

In [4]:
# define normalizer
normalizer = Normalizer()

# create a K-means model with 20 clusters
kmeans = KMeans(n_clusters=20, max_iter=1000)

# make a pipeline chaining normalizer and kmeans
pipeline = make_pipeline(normalizer,kmeans)

In [5]:
pipeline.fit(data)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=1000, n_clusters=20, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

In [6]:
# predict cluster labels
labels = pipeline.predict(data)

# create a DataFrame aligning labels & companies
df_result = pd.DataFrame({'Cluster': labels, 'Symbol': symbols})

# display df sorted by cluster labels
df_result.sort_values('Cluster')

     Cluster Symbol
132        0  DISCK
133        0   DISH
131        0  DISCA
130        0    DIS
115        0    CTL
..       ...    ...
405       18   SPGI
426       18   TMUS
242       18     IT
342       19    OMC
237       19    IPG

[485 rows x 2 columns]

In [7]:
symbols

array(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN',
       'ADBE', 'ADI', 'ADM', 'ADP', 'ADS', 'ADSK', 'AEE', 'AEP', 'AES',
       'AFL', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK',
       'ALL', 'ALLE', 'ALXN', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP',
       'AMT', 'AMZN', 'ANET', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APD',
       'APH', 'APTV', 'ARE', 'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK',
       'AXP', 'AZO', 'BA', 'BAC', 'BAX', 'BBY', 'BDX', 'BEN', 'BIIB',
       'BK', 'BKNG', 'BKR', 'BLK', 'BLL', 'BMY', 'BR', 'BSX', 'BWA',
       'BXP', 'C', 'CAG', 'CAH', 'CAT', 'CB', 'CBOE', 'CBRE', 'CCI',
       'CCL', 'CDNS', 'CDW', 'CE', 'CERN', 'CF', 'CFG', 'CHD', 'CHRW',
       'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG',
       'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COO', 'COP', 'COST',
       'COTY', 'CPB', 'CPRT', 'CRM', 'CSCO', 'CSX', 'CTAS', 'CTL', 'CTSH',
       'CTXS', 'CVS', 'CVX', 'CXO', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG',
       'DGX', 'DHI', 'DHR', 'DIS', 'DISCA', 'DISCK', 'DISH', 'DLR',
       'DLTR', 'DOV', 'DPZ', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN',
       'DXC', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL',
       'EMN', 'EMR', 'EOG', 'EQIX', 'EQR', 'ES', 'ESS', 'ETFC', 'ETN',
       'ETR', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG',
       'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV',
       'FITB', 'FLIR', 'FLS', 'FLT', 'FMC', 'FRC', 'FRT', 'FTI', 'FTNT',
       'GD', 'GE', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GOOG', 'GOOGL',
       'GPC', 'GPN', 'GPS', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN',
       'HBI', 'HCA', 'HD', 'HES', 'HFC', 'HIG', 'HII', 'HLT', 'HOG',
       'HOLX', 'HON', 'HP', 'HPQ', 'HRB', 'HRL', 'HSIC', 'HST', 'HSY',
       'HUM', 'IBM', 'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INFO',
       'INTC', 'INTU', 'IP', 'IPG', 'IPGP', 'IQV', 'IRM', 'ISRG', 'IT',
       'ITW', 'IVZ', 'J', 'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM',
       'JWN', 'K', 'KEY', 'KEYS', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX',
       'KO', 'KR', 'KSS', 'KSU', 'L', 'LB', 'LDOS', 'LEG', 'LEN', 'LH',
       'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX',
       'LUV', 'LVS', 'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD',
       'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC',
       'MKTX', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOS', 'MPC', 'MRK',
       'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTD', 'MU', 'MXIM',
       'MYL', 'NBL', 'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE',
       'NLSN', 'NOC', 'NOV', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE',
       'NVDA', 'NVR', 'NWL', 'NWS', 'NWSA', 'O', 'ODFL', 'OKE', 'OMC',
       'ORCL', 'ORLY', 'OXY', 'PAYC', 'PAYX', 'PBCT', 'PCAR', 'PEAK',
       'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI',
       'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'PPG', 'PPL', 'PRGO', 'PRU',
       'PSA', 'PSX', 'PVH', 'PWR', 'PXD', 'QCOM', 'QRVO', 'RCL', 'RE',
       'REG', 'REGN', 'RF', 'RHI', 'RJF', 'RL', 'RMD', 'ROK', 'ROL',
       'ROP', 'ROST', 'RSG', 'RTX', 'SBAC', 'SBUX', 'SCHW', 'SEE', 'SHW',
       'SIVB', 'SJM', 'SLB', 'SLG', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI',
       'SRE', 'STE', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK',
       'SYY', 'T', 'TAP', 'TDG', 'TEL', 'TFC', 'TFX', 'TGT', 'TIF', 'TJX',
       'TMO', 'TMUS', 'TPR', 'TROW', 'TRV', 'TSCO', 'TSN', 'TTWO', 'TWTR',
       'TXN', 'TXT', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNM',
       'UNP', 'UPS', 'URI', 'USB', 'V', 'VAR', 'VFC', 'VLO', 'VMC', 'VNO',
       'VRSK', 'VRSN', 'VRTX', 'VTR', 'VZ', 'WAB', 'WAT', 'WBA', 'WDC',
       'WEC', 'WELL', 'WFC', 'WHR', 'WLTW', 'WM', 'WMB', 'WMT', 'WRB',
       'WU', 'WY', 'WYNN', 'XEL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL',
       'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS'], dtype=object)

In [8]:
cls = df_result[df_result['Symbol'] == 'AAPL']['Cluster'].min()


df_result[df_result['Cluster'] == cls]

     Cluster Symbol
3         18   AAPL
8         18    ACN
9         18   ADBE
12        18    ADP
14        18   ADSK
39        18   ANSS
45        18    APH
64        18   BKNG
69        18     BR
82        18   CDNS
83        18    CDW
110       18   CPRT
112       18   CSCO
114       18   CTAS
116       18   CTSH
147       18   EBAY
150       18    EFX
152       18     EL
172       18     FB
178       18    FIS
179       18   FISV
183       18    FLT
188       18   FTNT
196       18   GOOG
197       18  GOOGL
199       18    GPN
228       18   IDXX
233       18   INFO
235       18   INTU
242       18     IT
248       18   JKHY
255       18   KEYS
267       18   LDOS
284       18     MA
291       18    MCO
309       18   MSCI
310       18   MSFT
311       18    MSI
343       18   ORCL
346       18   PAYC
347       18   PAYX
387       18    ROL
393       18   SBUX
402       18   SNPS
405       18   SPGI
426       18   TMUS
433       18   TWTR
447       18      V
453       18   VRSK
454       18   VRSN
480       18    YUM